iframe#content
{
   width: 97%;
   height:550px; 
}
body
{
background-image: url("img/fondo.jpg");

}

/*** RESPONSIVO ***/

@media only screen and (max-width: 992px) {
   
  body
{
margin-left: 0px;
}    
    
}
